.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
}

#ch1 {
  margin-top: 70px;
  text-align: center;
}

#contact-form, form, textarea{
  margin-top: 50px;
  text-align: center;
}

#contact-form, form, input[type="email"]{
  margin-top: 10px;
  text-align: center;
}

#contact-form, form, defaultValue{
  margin-top: 50px;
  text-align: center;
}



#main{

  width:500px;
  height:700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#profpic {
  margin-top: 100px;
}

.my-5 section, p{
  color: rgb(7, 7, 7);
  margin-left: 200px;
  text-align: center;
}


.flex-row, li{
  display:inline;
  text-align:center;
 
}

.flex-row{
  margin-top: 500px;
}

*, a:link {
  text-decoration: none;
  color: rgb(7, 7, 7);
 }


*, a:visited {
  text-decoration: none; 
  color: rgb(7, 7, 7);
}


*, a:hover {
  text-decoration: none; 
  color: gray;
}


*, a:active {
  text-decoration: none; 
  color: rgb(7, 7, 7);
}

#about{
  font-weight: bold;
  margin-left: 30px;
  margin-top: 150px;
  text-align: center;
  
}
#Nav{
  text-align: center;
  margin-top: 45px;
  background-color: lightgrey;
}

#Nav, h2{
  margin-bottom: -60px;
}

.my-2{
  display:flex;
}

#target-bottom{
  display: flex;
  flex-direction:row;
}
footer{
  color:rgb(7, 7, 7);
  height:200px;
  width:100%;
  margin: auto;
  text-align: center;
 
}

footer, img{
  height: 40px;
  width: 40px;
  margin-top: 10px;

}

#portfolio{
  margin-top: 100px;
  height: 85%
}
#portfolio h1{
  color: rgb(7, 7, 7);
  text-align: center;

}
#portfolio .flex-box-tags #split{
  
  margin-top: 90px;
  text-align: center;
}
#portfolio .flex-box-tags a{
  background-color: rgb(7, 7, 7);
  margin-right: -200px;
  font-size: 20px !important;
  font-weight: normal !important;
  display:flex;
  flex-wrap: wrap;
}


#portfolio #img2 {
  border: 5px solid rgb(7, 7, 7);
  height: 300px;
  background-image: url(../src/assets/portfolio-background.JPG);
  justify-content: flex-start;
  background-size: 1050px;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 100px;     
}
 
#portfolio #img3 {
  border: 5px solid rgb(7, 7, 7);
  height: 100px;
  margin-left: 30px;
  margin-bottom: 10px;
  background-image: url('');
  background-position: center;    
}
#portfolio a{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 550px;
  font-weight: bold;
  margin-top: -60px;
  font-size: 30px;
  
}
#portfolio p{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-left: -1px;
  margin-right: 750px;
  
}

#portfolio #img3 {
  border: 5px solid rgb(7, 7, 7);
  height: 300px;
  background-image: url('assets/binary.jpg');
  margin-left: 30px;
  margin-bottom: 10px;
  background-position: left;
}
#portfolio #img4 {
  border: 5px solid rgb(7, 7, 7);
  height: 300px;
  background-image: url('assets/brain.jpg');
  margin-left: 30px;
  margin-bottom: 10px;
  background-position: left;

      
}
#portfolio #img5 {
  border: 5px solid rgb(7, 7, 7);
  height: 300px;
  background-image: url('assets/circuit.jpg');
  margin-left: 30px;
  margin-bottom: 10px;
  background-position: right;
      
}
#portfolio #img6 {
  border: 5px solid rgb(7, 7, 7);
  height: 300px;
  background-image: url('assets/keyboard.jpg');
  margin-left: 30px;
  margin-bottom: 10px;
  background-position: right;
      
}
#portfolio #img7 {
  border: 5px solid rgb(7, 7, 7);
  width: 100%;
  height: 300px;
  background-image: url('');
  margin-left: 30px;
  margin-bottom: 10px;
  background-position: right;
      
}
@media screen and (min-width: 768px) {
  #portfolio div.flex-container div#work div.work-images div.img-container {
      width: 50%;
  }
}

#download{
  background-color: rgb(7, 7, 7);
  font-weight:bold;
  display:flex;
  justify-content:center;
  margin-left: -20px !important;
  margin-top: 40px;
}
.resume-body p{
  background-color: white !important;
}

#resume h1{
  margin-top: 65px;
  margin-left: 20px;
}
#resume h5{
  margin-left: 20px;
}
#resume h6{
  margin-top: 30px;
}
#resume{
  margin-left: 20px;
  margin-bottom: 50px;
}
.Title{
  margin-left: -20px !important;
  text-align: center;
}
.my-2 p{
  margin-right: 200px;
  text-align: center;
}